
#center-card {
    background-color: #FAFAFB;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px 60px;
}

#drop-zone {
    border: 1px dashed #97BEF4;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #F6F8FB;
}
#drop-zone img{
    max-width: 10em;
}

#result-image-container img{
    max-width: 100%;
    border-radius: 12px;
}

#copy-link-container {
    background: #F6F8FB;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 5px 5px 5px 15px;
}

#copy-link-container p{
    font-size: 10px;
    margin:0;
}